In [1]:
import os
import pandas as pd

In [2]:
csv_files = []
file_names = []
for file in os.listdir(os.curdir):
    if file.endswith(".csv"):
        csv_files.append(file)
        file_names.append(os.path.splitext(file)[0])

In [3]:
csv_files

['india.csv', 'uganda.csv']

In [4]:
file_names

['india', 'uganda']

In [5]:
dfs = []
for file in csv_files:
    df = pd.read_csv(file)
    dfs.append(df)

In [6]:
dfs[0].head()

      uid   firstName   lastName
0  999999  testFirst9  testLast9
1  888888  testFirst8  testLast8

In [48]:
df_combined = pd.concat(dfs, ignore_index=True)

In [49]:
df_combined

      uid   firstName   lastName
0  999999  testFirst9  testLast9
1  888888  testFirst8  testLast8
2  123456      Niklas       Beck
3  456789       Lucie     Schulz
4  ABC123        Jenn     Thomas
5  789XYZ       Farin     Urlaub
6  456128         New       User

## Firebase data

In [23]:
import firebase_admin
from firebase_admin import credentials, firestore, initialize_app

In [24]:
# connect to firebase via service account
cred = credentials.Certificate('firebase_admin.json')
app = initialize_app(cred)
db = firestore.client()

ValueError: The default Firebase app already exists. This means you called initialize_app() more than once without providing an app name as the second argument. In most cases you only need to call initialize_app() once. But if you do want to initialize multiple apps, pass a second argument to initialize_app() to give each app a unique name.

In [25]:
# create a reference to collection in firestore
uidListsCollection = db.collection(u'uidLists')

In [26]:
locale_docs = uidListsCollection.get()
#locationDoc = uidListsCollection.document(fileName).get()

In [27]:
# CHANGE uids TO users
# take one (and only) document and get the uid list from it
uidList = locale_docs[0].get('uids')

In [28]:
uidList

[{'uid': '123456', 'lastName': 'Beck', 'firstName': 'Niklas'},
 {'uid': '456789', 'lastName': 'Schulz', 'firstName': 'Lucie'},
 {'uid': 'ABC1234', 'lastName': 'Thomas', 'firstName': 'Jenn'},
 {'uid': '789XYZ', 'lastName': 'Urlaub', 'firstName': 'Farin'},
 {'uid': '456128', 'lastName': 'User', 'firstName': 'New'}]

In [33]:
# get dataframe from list of dicts
df_firebase = pd.DataFrame.from_dict(uidList)
# reorder columns
df_firebase = df_firebase[['uid', 'firstName', 'lastName']]

In [61]:
# left data is from csv, right data is from firebase
df_merged = df_combined.merge(df_firebase, indicator = True, how = 'outer')

In [72]:
df_merged

       uid   firstName   lastName      _merge
0   999999  testFirst9  testLast9   left_only
1   888888  testFirst8  testLast8   left_only
2   123456      Niklas       Beck        both
3   456789       Lucie     Schulz        both
4   ABC123        Jenn     Thomas   left_only
5   789XYZ       Farin     Urlaub        both
6   456128         New       User        both
7  ABC1234        Jenn     Thomas  right_only

In [69]:
df_missing = df_merged[df_merged['_merge'] == 'left_only']
df_new = df_merged[df_merged['_merge'] == 'right_only']

In [70]:
df_missing

      uid   firstName   lastName     _merge
0  999999  testFirst9  testLast9  left_only
1  888888  testFirst8  testLast8  left_only
4  ABC123        Jenn     Thomas  left_only

In [71]:
df_new

       uid firstName lastName      _merge
7  ABC1234      Jenn   Thomas  right_only

In [ ]:
lists_of_dicts = []
for df in dfs:
    lists_of_dicts.append(df.to_dict('records'))

In [ ]:
lists_of_dicts